﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    min-height: 5%;
    background-color: #222;
}

    footer p {
        color: #9d9d9d;
        padding: 15px 15px;
        margin: 0;
    }

.main {
    width: 100%;
}

.navbar-brand {
    text-align: center;
    width: 100%;
}

.site-icon {
    max-width: 25px;
    max-height: 25px;
}

.jumbotron-menu {
    list-style-type: none;
}

.jumbotron-menu-item {
    font-size: 18px;
}

.blog-container {
    padding-left: 0 !important;
}
