﻿@model System.Collections.Generic.IEnumerable<Task23BugLess.Models.FeedbackModel>

<div class="feedback-container">
    @foreach (var feedback in Model) 
    {
        <div class="feedback">
            <h2>@feedback.Content</h2>
            <b><i>Author: @feedback.AuthorName</i></b>
            <h5>Date: @feedback.CreationTime</h5>
            <h5>Id: @feedback.BlogId</h5>
        </div>
    }
</div>
<div class="feedback-form">
    @using (Html.BeginForm("Feedback", "Guest", FormMethod.Post))
    {
        <label for="feedback-content-author-name">Enter author name: </label><input type="text" id="feedback-content-author-name" />
        <label for="feedback-content">Enter feedback text: </label><input type="text" id="feedback-content" />
        <input type="submit" value="send"/>
    }
</div>

