﻿@model System.Collections.ObjectModel.Collection<Task23BugLess.Models.FeedbackModel>
@{
    ViewBag.Title = "Index";
}

    <div class="feedback-container">
        @foreach (var feedback in Model)
        {
            <div class="feedback">
                <h2>@feedback.Content</h2>
                <b><i>Author: @feedback.AuthorName</i></b>
                <h5>Date: @feedback.CreationTime</h5>
                <h3>@feedback.BlogId</h3>
            </div>
        }
    </div>