﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header main">

                <a href="/" class="navbar-brand"><i class="fa fa-fw fa-book"></i>Library</a>
                @*@Html.ActionLink("Library", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-9">
                @RenderBody()

            </div>
            <div class="col-md-3">
                <div class="jumbotron">
                    <ul class="jumbotron-menu">
                        <li>
                            @Html.ActionLink("Main", "Index", "Home", new { area = "" }, new { @class = "jumbotron-menu-item" })
                        </li>
                        <li>
                            @Html.ActionLink("Guest", "Index", "Guest", new { area = "" }, new { @class = "jumbotron-menu-item" })
                        </li>
                        <li>
                            @Html.ActionLink("Questionnaire", "Index", "Home", new { area = "" }, new { @class = "jumbotron-menu-item" })
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <hr />
        <footer class="navbar-fixed-bottom">
            <div class="container">
                <p>&copy; Yevhenii Hrytsiuk topkokos1337@gmail.com - My ASP.NET Application</p>
            </div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>
</html>
